* {
    font-family: "Open Sans", sans-serif;
}
html,
body,
#root {
    height: 100%;
}

body {
    color: #39424e !important;
}

.chakra-checkbox__control {
    border: none !important;
}
.chakra-checkbox__control,
.chakra-checkbox__control:focus {
    outline: none !important;
    box-shadow: 0 0 15px #a1a1a1 !important;
}
button {
    border-radius: 0.125rem !important;
    font-family: "Source Code Pro", monospace !important;
}

button:focus {
    outline: none !important;
}

input {
    border-radius: 0.125rem !important;
    outline: none !important;
}
input:focus {
    box-shadow: 0 0 5px rgba(174, 233, 177, 1) !important;
    border: 1px solid #1ba94c !important;
}

.special-font {
    font-family: "Source Code Pro", monospace !important;
}
